# Dependencies
node_modules/

# Nuxt build outputs
.nuxt/
.output/
.data/

# Vercel build output
.vercel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files

.env.*
!.env.example

# IDE / OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript cache
*.tsbuildinfo

# Prisma generated client output
app/generated/

